Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
print("""
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).


SQL
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD.
SQL databases are table-based
SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc


NOSQL
NoSQL database are primarily called as non-relational or distributed database
NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database.
NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores
NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance)
Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc
""")

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).


SQL
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD.
SQL databases are table-based
SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc


NOSQL
NoSQL database are primarily called as non-relational or distributed database
NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database.
NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores
NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance)
Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
print("""
Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. These database objects include tables, sequences, locations, aliases, schemas and indexes.
or
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table in SQL. 

ALTER :
This command is used to add, delete or change columns in the existing table. 

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

DROP :
This command is used to remove an existing table along with its structure from the Database.


For Example:please check next cell
""")

Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. These database objects include tables, sequences, locations, aliases, schemas and indexes.
or
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table in SQL.

ALTER :
This command is used to add, delete or change columns in the existing table.

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

DROP :
This command is used to remove an existing table along with its structure from the Database.


For Example:please check next cell

CREATE TABLE tableName(
NAME VARCHAR(30)
AGE INT
ADD  VARCHAR(500)
);

ALTER TABLE tableName
ADD SGPA number;

TRUNCATE TABLE tableName;

DROP TABLE tableName;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [4]:
print("""
DML:
DML is Data Manipulation Language which is used to manipulate data itself. For example: insert, update, delete are instructions in SQL.

INSERT Command:

To add data to a table the INSERT command is used. The syntax of the INSERT command is given below:

INSERT into table-name values (data, data …)


Update Command:

To update a table or row or column in the table we use the update command. The syntax of update command is given below:

Update table-name set column-name = value where condition;




Delete Command

To delete a table row or some data from a table in the database the delete command is used. The syntax of delete command is as follows:

DELETE from table-name;
""")

DML:
DML is Data Manipulation Language which is used to manipulate data itself. For example: insert, update, delete are instructions in SQL.

INSERT Command:

To add data to a table the INSERT command is used. The syntax of the INSERT command is given below:

INSERT into table-name values (data, data …)


Update Command:

To update a table or row or column in the table we use the update command. The syntax of update command is given below:

Update table-name set column-name = value where condition;




Delete Command

To delete a table row or some data from a table in the database the delete command is used. The syntax of delete command is as follows:

DELETE from table-name;

INSERT into tabelName values('abc',18,'UP INDIA');

UPDATE tableName set NAME ='xyz' where AGE=18;

DELETE from tableName where AGE=18;

Q4. What is DQL? Explain SELECT with an example.

In [5]:
print("""
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it

An SQL SELECT statement retrieves records from a database table 

SELECT column1, column2 FROM table1, table2 WHERE column2='value';
""")

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it

An SQL SELECT statement retrieves records from a database table

SELECT column1, column2 FROM table1, table2 WHERE column2='value';

 SELECT * FROM tableName;

SELECT  NAME FROM tableName;

Q5. Explain Primary Key and Foreign Key.

In [8]:
print("""
Primary Key: A primary key is used to ensure that data in the specific column is unique. A column 
cannot have NULL values. It is either an existing table column 
or a column that is specifically generated by the database according to a defined sequence. 
Only one primary key is allowed in a table.

In simple words : primary key should be not null and unique

it can be student_id,adhar_no,roll_no



Foreign Key: 
A foreign key is a column or group of columns in a relational database
table that provides a link between data in two tables. It is a column (or columns) that
references a column (most often the primary key) of another table. 
more than one foreign key are allowed in a table.
""")

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column
cannot have NULL values. It is either an existing table column
or a column that is specifically generated by the database according to a defined sequence.
Only one primary key is allowed in a table.

In simple words : primary key should be not null and unique

it can be student_id,adhar_no,roll_no



Foreign Key:
A foreign key is a column or group of columns in a relational database
table that provides a link between data in two tables. It is a column (or columns) that
references a column (most often the primary key) of another table.
more than one foreign key are allowed in a table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [9]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [10]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=12d6f3c3457b1e65f06ceeea29266391e5f6d795fe3f215e69f805afd27fa9f6
  Stored in directory: c:\users\vansh\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [4]:
db = mysql.connector.connect(
host = "localhost",
user = "username",
password="password",
database ="dbnew"
)

In [7]:
mycursor = db.cursor()

mycursor.execute("SELECT * tabelName")

In [8]:
print("""
Cursors

Whenever DML statements are executed, a temporary work area 
is created in the system memory and it is called a cursor

A cursor can have more than one row, but processing wise only 1 row is taken into account. 

Cursors are very helpful in all kinds of databases like 
Oracle, SQL Server, MySQL, etc. 
They can be used well with DML statements like Update, Insert and Delete. 

cursor()
Cursor in case of python
in mysql.connector module

It is an object that is used to make the connection 
for executing SQL queries. It acts as middleware between SQL
database connection and SQL query


execute()
This method executes the given database operation (query or command). 
The parameters found in the tuple or dictionary 
params are bound to the variables in the operation.
""")

Cursors

Whenever DML statements are executed, a temporary work area
is created in the system memory and it is called a cursor

A cursor can have more than one row, but processing wise only 1 row is taken into account.

Cursors are very helpful in all kinds of databases like
Oracle, SQL Server, MySQL, etc.
They can be used well with DML statements like Update, Insert and Delete.

cursor()
Cursor in case of python
in mysql.connector module

It is an object that is used to make the connection
for executing SQL queries. It acts as middleware between SQL
database connection and SQL query


execute()
This method executes the given database operation (query or command).
The parameters found in the tuple or dictionary
params are bound to the variables in the operation.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [9]:
print("""

Order of execution of SQL clauses in an SQL query are as follows:

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT

""")

Order of execution of SQL clauses in an SQL query are as follows:

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT